<%= render :partial => 'links' %>
<div id="gallery_wrap">
  <% index = 1 %>
	<% for picture in @pictures %>
	  <% if picture && picture.img %>
  		<% image = picture.sale.category.name + '/' + picture.img %>
      <% bool = @category.is_edge?(index) %>
      <% if bool %>
  		  <a href="/sales/<%= picture.sale_id %>" class="picture right-edge <%= picture.sale.category.name %>" style="background-image: url(<%= asset_path image %>);background-size: 100% auto;"></a>
      <% else %>
        <a href="/sales/<%= picture.sale_id %>" class="picture <%= picture.sale.category.name %>" style="background-image: url(<%= asset_path image %>);background-size: 100% auto;"></a>
      <% end %>
      <% index += 1 %>
    <% end %>
	<% end %>
</div>
