<h1><%= @category.name.capitalize %></h1>
<div id="gallery_wrap">
	<% for picture in @pictures %>
	  <% if picture && picture.img %>
  		<% image = picture.sale.category.name + '/' + picture.img %>
  		<a href="/sales/<%= picture.sale_id %>" class="picture <%= picture.sale.category.name %>" style="background-image: url(<%= asset_path image %>);background-size: 100% auto;">
        <h4><%= (picture.img.include?('0') ? picture.img.gsub!('0', ' ') : picture.img)[0..-5] %></h4>
      </a>
    <% end %>
	<% end %>
</div>
