<h1><%= @picture.img.gsub!('0', ' ')[0..-5] %></h1>
<% if @sale.sold %>
  <h2 class="red sold">Sold Out!</h2>
<% end %>
<div class="<%= @category %>-picture-show" style="background-image: url(<%= asset_path @url %>);background-size: 100% auto;">
<b><p class="<%= @category %>-description">Price: <%= @sale.price != 0.00 ?  '$' + number_with_precision(@sale.price, :precision => 2).to_s : 'Not yet determined' %>
	<% if @sale.description %>
		<br><%= @sale.description %>
	<% end %>
	</p>
</b>
</div>