<!DOCTYPE html>
<html>
<head>
  <title>StitchTen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="body" style="background-image: url(<%= asset_path 'background.png' %>);
  background-size: 100% auto;">
	  <div id="wrap">
      <%= render :partial => 'common/links' %>
      <%= yield %>
    <div>
  </div>
</body>
</html>
